{% extends 'page_vente/product_base.html' %}
{% load static %}
{% block meta-description %}Découvrez l'histoire et l'expertise derrière mes créations. Apprenez plus sur mon parcours et mon savoir-faire. Je met un point d'honneur à créer des pièces uniques, alliant savoir-faire traditionnel et design moderne.{% endblock %}
{% block header %}
    <h1 id="title_about">À propos - Découvrez l'histoire et les valeurs de Leather Work In Traveling DB</h1>
{% endblock %}

{% block description %}
    <p class ="text-center" id="description_about">Bienvenue dans l'espace A Propos.</p>
{% endblock %}
{% block content %}
    
{% endblock %}