{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}E-shopping Mr Betsch{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'page_vente/style.css'%}">
</head>
<body>
    <div class="header text-center">
        <div class="title_and_logo align-items-center grid-container">
            <img class="logo" src="{% static 'page_vente/images/logo.png' %}" alt="Logo" >
            {% block header %}
            {% endblock %}
            <img class="logo display-laptop" src="{% static 'page_vente/images/logo.png' %}" alt="Logo" >
        </div>
        {% block description %}
        {% endblock %}
        <p class ="text-center" id="any_question">Si vous avez des questions, n'hésitez pas à me contacter en cliquant </p><a class="align-items-center page-button" id = "contact_link" href="{% url 'boutique:contact' %}">ici</a>
        {% include 'page_vente/navbar.html' %}
    </div>
    {% block content %}
    {% endblock %}
    <div id="contact-form">
        <button type="button" id="close-btn" onclick="hideContact()">&times;</button>
        <h2 class="center">Besoin de renseignements ou de prendre contact pour un produit sur mesure ?</h2>
        <p>Je me tiens a votre disposition pour tout information complémentaire. Que se soit sur le procédé de fabrication ou les matiere premiere utilisées.</p>
        <p>Vous avez envie d'un produit 100% sur mesure ou vous voulez personalisé un produit existant ?</p>
        <p>Contactez-moi dés maintenant pour discuter et obtenir un devis personnalisé.</p>
        <p>Je suis joignable soit par télephone:<br> <i class="fa-solid fa-phone"></i> <a href="tel:+33778953973" style="text-decoration: none;">0778953973</a><br><br>soit par email:<br> <i class="fa-solid fa-envelope"></i> <a href="mailto:andy.delhaye511@gmail.com?subject=Contact%20depuis%20andydelhaye-elec-plus.com" style="text-decoration: none;">andy.delhaye511@gmail.com</a>.<br><br>À très bientôt</p>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4 id="footer_about">À propos</h4>
                <ul>
                    <li><a id="footer_history" href="/a_propos">Notre histoire</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
    
            <div class="footer-section">
                <h4 id="footer_legal">Informations légales</h4>
                <ul>
                    <li><a id="footer_mention" href="/mentions-legales">Mentions légales</a></li>
                    <li><a id="footer_cgv" href="/cgv">Conditions Générales de Vente (CGV)</a></li>
                    <li><a id="footer_policy" href="/politique-confidentialite">Politique de Confidentialité</a></li>
                    <li><a id="footer_cookie" href="/cookies">Gestion des Cookies</a></li>
                </ul>
            </div>
    
            <div class="footer-section">
                <h4 id="footer_social">Suivez-nous</h4>
                <ul>
                    <li><a href="https://www.facebook.com/damien.marley.777" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/tonentreprise" target="_blank">Instagram</a></li>
                </ul>
            </div>
    
            <div class="footer-section">
                <h4 id="footer_payment">Paiements sécurisés</h4>
                <p id="footer_payment_description">Transactions sécurisées avec <strong>Stripe</strong>.</p>
                <img id="stripe_logo" src="{% static 'page_vente/images/Stripe_wordmark-slate.png' %}" alt="Paiement sécurisé via Stripe">
            </div>
        </div>
    
        <div class="footer-bottom">
            <p id="footer_copyright">© 2025 Leather work in traveling DB. Tous droits réservés.</p>
        </div>
    </footer>
    <script src="{% static 'page_vente/script.js'%}"></script>
</body>
<div id="overlay" style="display:none;"></div>
</html>