{% extends 'page_vente/base.html' %}
{% load i18n %}
{% block meta-description %}{% trans "Consultez nos Conditions Générales de Vente pour découvrir les modalités d'achat, les retours et les conditions de livraison sur notre boutique en ligne." %}{% endblock %}
{% block title %}{% trans "Conditions Générales de Vente - Leather Work In Traveling DB" %}{% endblock %}
{% block head %}
    <!-- Balises hreflang pour la page actuelle -->
    {% get_current_language as current_language %}
    <link rel="alternate" href="https://www.leatherworkintravelingdb.com{{ request.path }}" hreflang="{{ current_language }}" />
    {% if current_language == "fr" %}
        <link rel="alternate" href="https://www.leatherworkintravelingdb.com/en/terms-and-conditions/" hreflang="en" />
    {% elif current_language == "en" %}
        <link rel="alternate" href="https://www.leatherworkintravelingdb.com/fr/cgv/" hreflang="fr" />
    {% endif %}
    <meta name="robots" content="noindex, follow">
    <link rel="alternate" href="https://www.leatherworkintravelingdb.com/en/terms-and-conditions/" hreflang="x-default" />
{% endblock %}
{% block header %}
    <h1 class = "legal_documents"><span id="cgv_title">{% trans "Conditions Générales de Vente" %}</span> (version: {{ cgv.version }})</h1>
{% endblock %}
{% block content %}
<section class = "legal_documents">
    <p><span id="publish_on">{% trans "Publié le :" %} </span>{{ cgv.created_at|date:"d/m/Y" }}</p>

    <div id="cgv_content">
    </div>
</section>
{% endblock %}