{% extends 'page_vente/base.html' %}
{% block meta-description %}Consultez nos Conditions Générales de Vente pour découvrir les modalités d'achat, les retours et les conditions de livraison sur notre boutique en ligne.{% endblock %}
{% block title %}Conditions Générales de Vente - Leather Work In Traveling DB{% endblock %}
{% block content %}
<section class = "legal_documents">
    <h1><span id="cgv_title">Conditions Générales de Vente</span> (version: {{ cgv.version }})</h1>
    <p><span id="publish_on">Publié le : </span>{{ cgv.created_at|date:"d/m/Y" }}</p>

    <div id="cgv_content">
    </div>
</section>
{% endblock %}