{% extends 'page_vente/product_base.html' %}
{% load static %}
{% load i18n %}
{% block meta-description %}{% trans "Offrez-vous une création sur mesure ! Personnalisez vos articles de maroquinerie ou macramé selon vos goûts. Je met mon savoir-faire à votre service pour réaliser des pièces uniques et personnalisées." %}{% endblock %}
{% block title %}{% trans "Accessoires cuir & macramé personnalisés | Création sur mesure" %}{% endblock %}
{% block head %}
    <!-- Balises hreflang pour la page actuelle -->
    {% get_current_language as current_language %}
    <link rel="alternate" href="https://leatherworkintravelingdb.com{{ request.path }}" hreflang="{{ current_language }}" />
    {% if current_language == "fr" %}
        <link rel="alternate" href="https://leatherworkintravelingdb.com/en/custom-creation/" hreflang="en" />
    {% elif current_language == "en" %}
        <link rel="alternate" href="https://leatherworkintravelingdb.com/fr/creation-sur-mesure/" hreflang="fr" />
    {% endif %}
{% endblock %}
{% block header %}
    <h1 id="title_custom">{% trans "Création sur mesure de maroquinerie et macramé - Personnalisez vos accessoires" %}</h1>
{% endblock %}

{% block description %}
    <p class ="text-center" id="description_custom">{% trans "Bienvenue dans l'espace Creation Sur Mesure." %}</p>

    
{% endblock %}
{% block content %}
<section class="container-custom">
    <div class="section-custom">
        <h2 id="title_nomad_creation">{% trans "Créativité nomade et savoir-faire unique" %}</h2>
        <div class="grid-container custom-grid-container">
            <p id="text_nomad_creation">{% trans "Chaque création sur mesure est inspirée des techniques traditionnelles et des influences culturelles rencontrées lors de mes voyages à travers l’Europe. Mon approche allie originalité et passion pour offrir des pièces uniques, imprégnées d’histoire." %}</p>
            <img id="picture-truck" src="{% static 'page_vente/images/A PROPOS ET CUSTOM CREATION/Camion_au_bord_de_l_eau.jpeg' %}" alt="Camion au bord de l'eau">
        </div>
    </div>
    <div class="section-custom">
        <h2 id="title_creation_step">{% trans "Votre création sur mesure, étape par étape" %}</h2>

        <p id="text_creation_step">{% trans "Vous souhaitez un accessoire en cuir ou une décoration en macramé entièrement personnalisé ? Voici comment nous créons ensemble une pièce unique :" %}</p>
        <ol class="custom-ol font-size-19" >
                    <li id="list_creation_step1"><strong>1. {% trans "Échange initial :" %}</strong> {% trans "Contactez-moi par e-mail ou téléphone pour discuter de votre projet et obtenir une première estimation." %}</li>
                    <li id="list_creation_step2"><strong>2. {% trans "Conception :" %}</strong> {% trans "Réalisation d’un croquis détaillé et établissement d’un devis précis." %}</li>
                    <li id="list_creation_step3"><strong>3. {% trans "Début de la fabrication :" %}</strong> {% trans "Un acompte de 1/3 du prix est demandé pour lancer la production." %}</li>
                    <li id="list_creation_step4"><strong>4. {% trans "Validation :" %}</strong> {% trans "Je vous envoie des visuels pour finaliser les motifs et ajuster les détails si nécessaire." %}</li>
                    <li id="list_creation_step5"><strong>5. {% trans "Livraison :" %}</strong> {% trans "Une fois le paiement final effectué, votre création est expédiée en toute sécurité avec assurance." %}</li>
                </ol>

    </div>
        

        <div class="section-custom">
            <h2 id="title_discover_realizations">{% trans "Découvrez mes réalisations" %}</h2>
            <div class="custom-pictures">
                <img id="custom-picture-round" src="{% static 'page_vente/images/A PROPOS ET CUSTOM CREATION/Damien_porte_feuille_punk.jpg' %}" alt="Damien in action">
                <img id ="custom-picture-1"src="{% static 'page_vente/images/A PROPOS ET CUSTOM CREATION/patron_collier_chien.jpg' %}" alt="Collier chien patron">
                <img id ="custom-picture-2"  src="{% static 'page_vente/images/A PROPOS ET CUSTOM CREATION/porte_feuille_moto_cross.jpg' %}" alt="Porte feuille moto cross">
                <img id ="custom-picture-3"  src="{% static 'page_vente/images/A PROPOS ET CUSTOM CREATION/carte.jpg' %}" alt="Carte d'europe'">
                <img id ="custom-picture-4" src="{% static 'page_vente/images/A PROPOS ET CUSTOM CREATION/porte_feuille.jpeg' %}" alt="porte feuille punk">
            </div>
            
        </div>
        
        <div class="section-custom">
            <h2 id="title_why_choose_my_creations">{% trans "Pourquoi choisir mes créations unique?" %}</h2>
            <ul class="custom-li font-size-19">
                <li  id="list_why_choose_my_creations_1">{% trans "Fabrication "%}100% {% trans "à la main avec des matériaux soigneusement sélectionnés lors de mes voyages." %}</li>
                <li  id="list_why_choose_my_creations_2">{% trans "Un savoir-faire enrichi par des échanges avec des créateurs et spécialistes européens." %}</li>
                <li  id="list_why_choose_my_creations_3">{% trans "Chaque pièce porte l’empreinte du voyage et de la culture qui l’a inspirée." %}</li>
                <li  id="list_why_choose_my_creations_4">{% trans "Des créations personnalisées, façonnées avec passion et souci du détail." %}</li>
            </ul>
        </div>

        <div class="section-custom">
            <h2 id="title_contact">{% trans "Contactez-moi" %}</h2>
            <p id="text_contact">{% trans "Un projet, une idée, une envie d’échanger sur mes créations ou sur la vie nomades ? Écrivez-moi !" %}</p>
            <p>Email : <a id="contact_email" href="mailto:{{ CLIENT_EMAIL }}?subject=Contact%20depuis%20LeatherWorkInTravelingDB.com">{{ CLIENT_EMAIL }}</a></p>
            <p>Instagram : <a id="contact_instagram" href="https://www.instagram.com/{{ CLIENT_INSTAGRAM }}">{{ CLIENT_INSTAGRAM }}</a></p>
            <p>Facebook : <a id="contact_facebook" href="https://www.facebook.com/{{ CLIENT_FACEBOOK }}">{{ CLIENT_FACEBOOK }}</a></p>
            <p ><span id="contact_phone">{% trans "Numéro de téléphone :" %}</span><a id="contact_phone" href="tel:{{ CLIENT_PHONE_NUMBER }}">{{ CLIENT_PHONE_NUMBER }}</a></p>
        </div>
</section>
    
{% endblock %}