{% extends 'page_vente/product_base.html' %}
{% load static %}
{% block meta-description %}Découvrez nos créations uniques mêlant maroquinerie et macramé. Accessoires et bijoux alliant l’élégance du cuir à la finesse du tissage.{% endblock %}
{% block title %}Créations hybrides maroquinerie & macramé - Accessoires uniques{% endblock %}
{% block header %}
    <h1 id="title_hybride">Accessoires uniques alliant maroquinerie et macramé</h1>
{% endblock %}

{% block description %}
    <p class ="text-center" id="description_hybride"><strong>Hybride</strong> est une alliance de <strong>differentes techniques et matériaux</strong>.<br>Ici vous trouverez tous les produits en <strong>Hybride</strong> disponibles.</p>
{% endblock %}