{% extends 'page_vente/product_base.html' %}
{% load static %}
{% block meta-description %}Explorez nos créations hybrides alliant maroquinerie et macramé. Des accessoires uniques qui mêlent l'élégance du cuir et l'originalité du macramé pour un style original.{% endblock %}
{% block header %}
    <h1 id="title_hybride">Créations hybrides en maroquinerie et macramé - Accessoires et bijoux | Leather Work In Traveling DB</h1>
{% endblock %}

{% block description %}
    <p class ="text-center" id="description_hybride">Bienvenue dans l'espace Hybride. Retrouvez ci-dessous tous les produits disponibles.</p>
{% endblock %}