{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title_page_index">Ma boutique</title>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'page_vente/style.css'%}">
</head>
<body>
    <div class="header text-center">
        <div class="title_and_logo grid-container">
            <img class="logo" src="{% static 'page_vente/images/logo.png' %}" alt="Logo" >
            <h1 id="title_index">Bienvenue sur Ma <br>Boutique Artisanale</h1>
            <img class="logo display-laptop" src="{% static 'page_vente/images/logo.png' %}" alt="Logo" >
        </div>
        
    <!-- Include Navbar component -->
    {% include 'page_vente/navbar.html' %}
    </div>


    <section class="category grid-container">
        <a class="linker product-card " href="{% url 'boutique:maroquinerie' %}">
            <div class="half-grid-width" >
                <div class="product-title-and-description text-center">
                    <h2 class="product-title" id="maroquinerie_title"><i class="fas fa-wallet"></i> Espace Maroquinerie</h2>
                    <p class="product-description" id="maroquinerie_description" >Collection de modèles en <strong>Cuir</strong>.</p>
                </div>
                <img class="float-right display-laptop" src="{% static 'page_vente/images/sac_bandouliere2.jpeg' %}" alt="Atelier maroquinerie">
                <img class="float-right display-mobile" src="{% static 'page_vente/images/sac_bandouliere_paysage.jpeg' %}" alt="Atelier maroquinerie">


            </div>
        </a>
        <a class="linker product-card " href="{% url 'boutique:macrames' %}">
            <div class="half-grid-width" >
                <div class="product-title-and-description text-center">
                    <h2 class="product-title" id="macrames_title"><i class="fas fa-feather-pointed"></i> Espace Macramé</h2>
                    <p class="product-description" id="macrames_description" >Création sur une base de <strong>tissage de fils</strong>. </p>
                </div>
                <img class="float-right display-laptop" src="{% static 'page_vente/images/macrame.jpeg' %}" alt="Atelier macramé">
                <img class="float-right display-mobile" src="{% static 'page_vente/images/macrame_paysage.jpeg' %}" alt="Atelier macramé">
    
            </div>
        </a>
        <a class="linker product-card full-grid-width" href="{% url 'boutique:creation-sur-mesure' %}">
            <div class="grid-width_2" >
                <img class="image-full-span display-laptop" src="{% static 'page_vente/images/porte_feuille.jpeg' %}" alt="Atelier maroquinerie">
                <div class="product-title-and-description text-center">
                    <h2 class="product-title" id="creation_sur_mesure_title"><i class="fas fa-scissors"></i> Création sur Mesure</h2>
                    <p class="product-description text-center" id="creation_sur_mesure_description" ><strong>Une idée, un Projet ?</strong><span class="display-laptop"> <br>Mon plus grand plaisir, c'est de réaliser des créations
                        <strong>entièrement personnalisés</strong>
                        pour mes clients.</span><br>N'hésitez pas à me contacter, je serai ravi de <strong>donner vie à vos idées !</strong></p>
                </div>
                <img class="image-full-span " src="{% static 'page_vente/images/atelier_maroquinerie.jpeg' %}" alt="Atelier maroquinerie">
    
            </div>
            </a>
        <a class="linker product-card full-grid-width" href="{% url 'boutique:hybride' %}">
            <div class="grid-width_2" >
                <img class="image-full-span display-laptop" src="{% static 'page_vente/images/mix_maro_macra.jpeg' %}" alt="Outils maroquinerie">
                <div class="product-title-and-description text-center">
                    <h2 class="product-title" id="hybride_title"><i class="fas fa-gift"></i> Hybride</h2>
                    <p class="product-description" id="autres_produits_description">Mix de <strong>différentes techniques et matériaux</strong>.</p>
                </div>
                <img class="image-full-span " src="{% static 'page_vente/images/mix_maro_macra2.jpeg' %}" alt="Outils macramé">
            </div>
        </a>

    </section>
    <script src="{% static 'page_vente/script.js'%}"></script>
</body>
</html>