{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title_page_index">Ma boutique</title>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'page_vente/style.css'%}">
</head>
<body>
    <div class="header">
        <div class="title_and_logo grid-container">
            <img src="{% static 'page_vente/images/logo.png' %}" alt="Logo" class="logo">
            <h1 id="title_index">Bienvenue sur Ma <br>Boutique Artisanale</h1>
            <img src="{% static 'page_vente/images/logo.png' %}" alt="Logo" class="logo">
        </div>
        <div class="language-selector">
            <!-- Drapeaux avec attribut de langue -->
            <img 
            src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg" 
            alt="English"
            class="flag" 
            data-lang="en">

            <img 
                src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg" 
                alt="French" 
                class="flag" 
                data-lang="fr">
        </div>
        <div class="menu">
            <button onclick="toggleMenu()">MENU<i class="fa-solid fa-bars"></i></button>
            <div class="menu-content">
                <a href="#" id="menu_button_home" >ACCUEIL</a>
                <a href="#" onclick="toggleMenuProduit(event)" id="menu_button_produit">PRODUITS <i class="fa-solid fa-arrow-down"></i></a>
                    <div class="menu-content-produit">
                        <a href="{% url 'boutique:tout-les-produits' %}" id="menu_button_tout_les_produits">TOUT LES PRODUITS</a>
                        <a href="{% url 'boutique:maroquinerie' %}" id="menu_button_maroquinerie">MAROQUINERIE</a>
                        <a href="{% url 'boutique:macrames' %}" id="menu_button_macrames">MACRAMES</a>
                        <a href="{% url 'boutique:creation-sur-mesure' %}" id="menu_button_creation_sur_mesure">CREATION SUR MESURE</a>
                        <a href="{% url 'boutique:autres-produits' %}" id="menu_button_autres_produits">AUTRES PRODUITS</a>
                    </div>
                <a href="/panier" id="menu_button_panier">PANIER</a>
                <a href="/a-propos" id="menu_button_a_propos">A PROPOS</a>
                <a href="/contact">CONTACT</a>
            </div> 
        </div>
        <a href="/panier" id="cart-button">
            <i class="fas fa-shopping-cart flex_item_cart_button" ></i>
            <p id="text-cart-button" class="flex_item_cart_button"></p>
        </a>
    </div>

    {% for macrame in macrames %}
        {% if macrame.lien_image != "" %}
        <img src={{ macrame.lien_image }} alt={{ macrame.nom }}>

        {% endif %}
    {% endfor %}



    <section class="category">
        <a class="linker product-card " href="{% url 'boutique:maroquinerie' %}">
            <div class="half-grid-width" >
                <div class="product-title-and-description">
                    <h2 class="product-title" id="maroquinerie_title"><i class="fas fa-wallet"></i> Espace Maroquinerie</h2>
                    <p id="maroquinerie_description">Collection de modèles en <strong>Cuir</strong>.</p>
                </div>
                <img class="float-right" src="{% static 'page_vente/images/sac_bandouliere2.jpeg' %}" alt="Atelier maroquinerie">

            </div>
        </a>
        <a class="linker product-card " href="{% url 'boutique:macrames' %}">
            <div class="half-grid-width" >
                <div class="product-title-and-description">
                    <h2 class="product-title" id="macrames_title"><i class="fas fa-feather-pointed"></i> Espace Macramé</h2>
                    <p id="macrames_description">Création sur une base de <strong>tissage de fils</strong>. </p>
                </div>
                <img class="float-right" src="{% static 'page_vente/images/smart-home-logo.jpeg' %}" alt="Atelier macramé">
    
            </div>
        </a>
        <a class="linker product-card full-grid-width" href="{% url 'boutique:creation-sur-mesure' %}">
            <div class="grid-width_2" >
                <img id="img4" class="image-full-span display-laptop" src="{% static 'page_vente/images/atelier_maroquinerie.jpeg' %}" alt="Atelier maroquinerie">
                <div class="product-title-and-description">
                    <h2 class="product-title" id="creation_sur_mesure_title"><i class="fas fa-scissors"></i> Création sur Mesure</h2>
                    <p id="creation_sur_mesure_description" style="text-align: center;"><strong>Une idée, un Projet ?</strong><span class="display-laptop"> <br>Mon plus grand plaisir, c'est de réaliser des créations
                        <strong>entièrement personnalisés</strong>
                        pour mes clients.</span><br>N'hésitez pas à me contacter, je serai ravi de <strong>donner vie à vos idées !</strong></p>
                </div>
                <img class="image-full-span " src="{% static 'page_vente/images/porte_feuille.jpeg' %}" alt="Atelier maroquinerie">
    
            </div>
            </a>
        <a class="linker product-card full-grid-width" href="{% url 'boutique:autres-produits' %}">
            <div class="grid-width_2" >
                <img id="img3" class="image-full-span display-laptop" src="{% static 'page_vente/images/smart-home-logo.jpeg' %}" alt="Outils maroquinerie">
                <div class="product-title-and-description">
                    <h2 class="product-title" id="autres_produits_title"><i class="fas fa-gift"></i> Autre Produit Fait Main</h2>
                    <p id="autres_produits_description">Mix de <strong>différentes techniques et matériaux</strong>.</p>
                </div>
                <img class="image-full-span " src="{% static 'page_vente/images/smart-home-logo.jpeg' %}" alt="Outils macramé">
            </div>
        </a>

    </section>
    <script src="{% static 'page_vente/script.js'%}"></script>
</body>
</html>