{% extends 'page_vente/product_base.html' %}
{% load static %}
{% block meta-description %}Sublimez votre style avec nos bijoux et accessoires pour le corps faits main, tels que des chaînes de corps, boucles d'oreilles, colliers et bracelets. Chaque pièce est minutieusement tissée pour apporter une touche d'élégance et d'originalité à votre look.{% endblock %}
{% block header %}
    <h1 id="title_macrame">MACRAMES</h1>
{% endblock %}

{% block description %}
    <p class ="text-center" id="description_macrame">Bienvenue dans l'espace Macramés. Retrouvez ci-dessous tous les produits disponibles.</p>
{% endblock %}