{% extends 'page_vente/product_base.html' %}
{% load static %}
{% load i18n %}
{% block meta-description %}{% trans "Découvrez nos sacs, portefeuilles, ceintures et accessoires en cuir faits main. Des pièces uniques, confectionnées avec soin pour une qualité exceptionnelle." %}{% endblock %}
{% block title %}{% trans "Maroquinerie fait main - Sacs, portefeuilles et accessoires en cuir" %}{% endblock %}
{% block header %}
    <h1 id="title_leathercraft">{% trans "Maroquinerie fait main – Sacs, portefeuilles et accessoires en cuir" %}</h1>
{% endblock %}

{% block description %}
<p class ="text-center" id="description_leathercraft">{% trans "Bienvenue dans l'espace maroquinerie. Retrouvez ci-dessous tous les produits disponibles." %}</p>
{% endblock %}