{% extends 'page_vente/product_base.html' %}
{% load static %}
{% block meta-description %}Découvrez notre collection de maroquinerie fait main : sacs, portefeuilles, ceintures et accessoires en cuir. Chaque pièce est unique et réalisée avec soin pour une qualité exceptionnelle.{% endblock %}
{% block header %}
    <h1 id="title_leathercraft">Maroquinerie fait main - Sacs, porte-monnaie et accessoires | Leather Work In Traveling DB</h1>
{% endblock %}

{% block description %}
<p class ="text-center" id="description_leathercraft">Bienvenue dans l'espace maroquinerie. Retrouvez ci-dessous tous les produits disponibles.</p>
{% endblock %}