{% extends 'page_vente/product_base.html' %}
{% load static %}
{% load i18n %}
{% block meta-description %}{% trans "Découvrez nos sacs, portefeuilles, ceintures et accessoires en cuir faits main. Des pièces uniques, confectionnées avec soin pour une qualité exceptionnelle." %} Page {% if page_number %}{{ page_number }}{% else %}1{% endif %}{% endblock %}
{% block head %}
    <!-- Balises hreflang pour la page actuelle -->
    {% get_current_language as current_language %}
    <link rel="alternate" href="https://leatherworkintravelingdb.com{{ request.path }}" hreflang="{{ current_language }}" />
    {% if current_language == "fr" %}
        <link rel="alternate" href="https://leatherworkintravelingdb.com/en/products/leather-goods/" hreflang="en" />
    {% elif current_language == "en" %}
        <link rel="alternate" href="https://leatherworkintravelingdb.com/fr/produits/maroquinerie/" hreflang="fr" />
    {% endif %}
{% endblock %}
{% block title %}{% trans "Maroquinerie fait main - Sacs, portefeuilles et accessoires en cuir" %} | Page {% if page_number %}{{ page_number }}{% else %}1{% endif %}{% endblock %}
{% block header %}
    <h1 id="title_leathercraft">{% trans "Maroquinerie fait main – Sacs, portefeuilles et accessoires en cuir" %}</h1>
{% endblock %}

{% block description %}
<p class ="text-center" id="description_leathercraft">{% trans "Bienvenue dans l'espace maroquinerie. Retrouvez ci-dessous tous les produits disponibles." %}</p>
{% endblock %}