{% load i18n %}
<div id="modal">
    <h2 class="text-center" id="nom-article"></h2>
    <button id="close-button" type="button">&times;</button>
    <div class="grid-container">
        <div class="product-info">
            <h3>Description:</h3>
            <p id="description-article"></p>
            <p id="promo-widget" style="width:fit-content; text-align: center; margin-top: 12px; margin-bottom: 6px; border-radius: 8px; color: white; background-color: #da0410; padding:1px 8px 4px 8px; height: min-content;">Promo</p>
            
            <div style="margin: 16px 0px;">
                <h3 id="new_price_h3" style="display: inline">Nouveau prix: </h3>
                <p id="new_price" style="display: inline; text-align: left;"></p>
            </div>
            
            <div>
                <h3 style="display: inline" >{% trans "Prix: " %}</h3>
                <p id="prix-article" style="display: inline-block;"></p>
            </div>
            {% if request.resolver_match.url_name != 'panier'%}
            <button class="align-items-center page-button add_to_cart_button font-size-17" type="button" id="id_add_to_cart_button" >{% trans "Ajouter au panier" %}</button>
            {% endif %}
        </div>
        <div class="image-and-buttons">
            <div class="image-container" id="imageContainer">
                <img id="current-image" src="" alt="Image du produit">
                <div class="loupe" id="loupe">
                    <img src="" alt="Zoom du produit" id="zoomImage">
                </div>
            </div>
            <div class="image-buttons">
                <button class="font-size-17" id="prev-button" type="button">{% trans "Précédent" %}</button>
                <button class="font-size-17" id="next-button" type="button">{% trans "Suivant" %}</button>
            </div>
        </div>
    </div>
</div>