{% extends 'page_vente/base.html' %}
{% load i18n %}
{% block meta-description %}{% trans "Votre paiement a été annulé. Vous pouvez réessayer ou modifier votre commande en toute sécurité." %}{% endblock %}
{% block title %}{% trans "Paiement annulé | Leather Work In Traveling DB" %}{% endblock %}
{% block header %}
    <h1 id="title_payment_cancel">{% trans "Paiement Annulé" %}</h1>
{% endblock %}
{% block content %}
<section id="payment-cancel">
    <p id="payment-cancel-description">{% trans "Votre paiement a été annulé. Si cela est une erreur, vous pouvez réessayer." %}</p>
    
    <div id="payment-cancel-div">
        <a href="{% url 'boutique:index' %}" id="payment-cancel-button">{% trans "Retour à l'accueil" %}</a>
    </div>
</section>
{% endblock %}
