{% extends 'page_vente/base.html' %}
{% load static %}
{% load i18n %}
{% block meta-description %}{% trans "Vérifiez votre panier et passez commande en toute sécurité via Stripe. Profitez de la livraison rapide pour recevoir vos créations en maroquinerie et macramé faits main." %}{% endblock %}
{% block title %}{% trans "Panier - Commande sécurisée en maroquinerie et macramé" %}{% endblock %}
{% block head %}
    <!-- Balises hreflang pour la page actuelle -->
    {% get_current_language as current_language %}
    <link rel="alternate" href="https://leatherworkintravelingdb.com{{ request.path }}" hreflang="{{ current_language }}" />
    {% if current_language == "fr" %}
        <link rel="alternate" href="https://leatherworkintravelingdb.com/en/cart/" hreflang="en" />
    {% elif current_language == "en" %}
        <link rel="alternate" href="https://leatherworkintravelingdb.com/fr/panier/" hreflang="fr" />
    {% endif %}
    <meta name="robots" content="noindex, follow">
{% endblock %}
{% block header %}
<h1 id="title_cart">{% trans "Votre panier - Vérifiez et finalisez votre commande" %}</h1>
{% endblock %}
{% block description %}
{% endblock %}
{% block content %}
{% if items %}
<section class="cart-container">
    
    <button class="align-items-center page-button font-size-17 clean-button" id="clear_cart" >{% trans "Vider le panier" %}</button>
        {% if expiration_date %}
            <p ><span id="expiration_date">⚠️ {% trans "Votre panier expirera le" %} </span>{{ expiration_date|date:"d/m/Y H:i" }}.</p>
        {% else %}
            <p id="expiration_soon">⚠️ {% trans "Votre panier expirera bientôt." %}</p>
        {% endif %}
    <div class="grid-container">
        
        <ul class="product-list-cart" id="liste-articles"></ul>
        {% if items %}
        <aside class="text-center">
            <h2 id="payment_title">{% trans "Paiement sécurisé" %}</h2>

            <p><span id="shipping_cost">✅ {% trans "Les frais de port sont fixes à 5 €" %}</span> <span id="insurance_25_euros">{% trans "et incluent une assurance jusqu'à 25 €" %}</span></p>
            <div id="shipping-option">
                <input type="checkbox" id="add-shipping"> 
                <label class="font-size-17" for="add-shipping" id="add-shipping-label">{% trans "Option de livraison à domicile" %} (+5,00 €)</label>
            </div>
            <p id="mandatory-insurance" class="hidden"><span id="mandatory_insurance_2">🚨 {% trans "Une assurance obligatoire de" %} </span><span id="mandatory-insurance-cost">0</span><span id="mandatory_insurance_3"> € ({% trans "montant variable selon le montant de la commande. Plus d'information sur la page" %} <a href="/cgv" target="_blank">CGV</a>) {% trans "sera ajoutée pour les commandes comprise entre" %} 50 € {% trans "et" %} 500 €.</span><span id="mandatory_insurance_4"><br><br>⚠️ {% trans "L'indemnisation forfaitaire maximal est de 500 €" %}⚠️</span></p>
            <div class="separator-cart"></div>
            <p id="total_articles"><span id="total_articles_title">{% trans "Total des articles :" %} </span><span id="order-total">{{total | floatformat:2 }}</span> €</p>
            <p id="shipping_cost_short">{% trans "Frais de port :" %} <span id="shipping-cost">5.00 €</span></p>
            
            <p id="insurance"><span id="insurance_cost">{% trans "Assurance :" %} </span><span id="insurance-cost">0.00</span> €<span id="insurance_25_euros_2" ><br>{% trans "Inclue (jusqu'à 25 €)" %}</span></p>
            <div id="insurance-option" class="hidden">
                <input type="checkbox" id="add-insurance"> 
                <label class="font-size-17" for="add-insurance" id="add-insurance-label">{% trans "Assurer la totalité de la valeur des produits" %} (+2,00 €)</label>
            </div>
            <div class="separator-cart"></div>
            <p><span id="total_amount_title">{% trans "Total de la commande :" %} </span><span id="total-amount">0</span> €</p>
            <p>
              <input type="checkbox" id="accept-cgv"> 
              <label for="accept-cgv" ><span id="accept-cgv-label">{% trans "J'accepte les" %} <a href="/cgv" target="_blank">{% trans "conditions générales de vente" %}</a>.</span>({{ latest_cgv.version }})</label>
            </p>
            <button class="page-button" id="checkout">{% trans "Payer via Stripe" %}</button>
          
            <p id="error-message" class="error hidden">{% trans "Vous devez accepter les CGV pour continuer." %}</p>
        </aside>
    {% endif %}    
    
    </div>
        {% if expiration_date %}
            <p ><span id="expiration_date">⚠️ {% trans "Votre panier expirera le" %} </span>{{ expiration_date|date:"d/m/Y H:i" }}.</p>
        {% else %}
            <p id="expiration_soon">⚠️ {% trans "Votre panier expirera bientôt." %}</p>
        {% endif %}
</section>
{% endif %}
<section id="empty-section">
    <p id="empty_cart">{% trans "Votre panier est vide." %}</p>
</section>


<div id="modal">
    <h2 class="text-center" id="nom-article"></h2>
    <button id="close-button" type="button">&times;</button>
    <div class="grid-container">
        <div class="product-info">
            <h3 id="info-description">Description :</h3>
            <p id="description-article"></p>
            <h3 id="info-price">{% trans "Prix: " %}</h3>
            <p id="prix-article"></p>
        </div>
        <div class="image-container">
            <img id="current-image" src="" alt="Image du produit">
            <div class="image-buttons">
                <button class="font-size-17" id="prev-button" type="button">{% trans "Précédent" %}</button>
                <button class="font-size-17" id="next-button" type="button">{% trans "Suivant" %}</button>
            </div>
        </div>
    </div>
</div>
</div>
<script id="translations" type="application/json">
    {
        "delete_button": "{% trans 'Supprimer' %}",
        "no_image": "{% trans 'Aucune image disponible' %}",
        "price": "{% trans 'Prix: ' %}"
    }
</script>
{% endblock %}