{% extends 'page_vente/base.html' %}
{% block meta-description %}Votre paiement a été annulé. Vous pouvez réessayer ou modifier votre commande en toute sécurité.{% endblock %}
{% block title %}Paiement annulé |Leather Work In Traveling DB{% endblock %}
{% block header %}
    <h1 id="title_payment_cancel">Paiement Annulé</h1>
{% endblock %}
{% block content %}
<section id="payment-cancel">
    <p id="payment-cancel-description">Votre paiement a été annulé. Si cela est une erreur, vous pouvez réessayer.</p>
    
    <div id="payment-cancel-div">
        <a href="/" id="payment-cancel-button">Retour à l'accueil</a>
    </div>
</section>
{% endblock %}
