{% extends 'page_vente/base.html' %}
{% block meta-description %}Votre paiement a été confirmé ! Consultez les détails de votre commande et suivez son statut en toute sécurité.{% endblock %}
{% block title %}Paiement confirmé - Leather Work In Traveling DB{% endblock %}
{% block header %}
    <h1 id="title_payment_success">Paiement Réussi !</h1>
{% endblock %}
{% block content %}
<section id="payment-success">
    <p id="payment-success-description">Merci pour votre commande. Votre paiement a été traité avec succès.</p>
    
    <div id="payment-success-details">
        <p id="payment-success-order-id"><strong id="payment-success-order-id">Numéro de commande :</strong> {{ order_id }}</p>
        <p><strong>Date :</strong> {{ payment_date }}</p>
        <p><strong id="payment-success-amount">Montant total :</strong> {{ total_amount | floatformat:2 }} €</p>
    </div>
    
    <div id="payment-success-div">
        <a href="/" id="payment-success-button">Retour à l'accueil</a>
    </div>
</section>
{% endblock %}