{% extends 'page_vente/base.html' %}

{% block content %}
<section style="font-family: 'Western', sans-serif; padding: 20px; text-align: center;">
    <h1 style="font-size: 30px; color: red;">Paiement Annulé</h1>
    <p>Votre paiement a été annulé. Si cela est une erreur, vous pouvez réessayer.</p>
    
    <div style="margin-top: 30px;">
        <a href="/" style="text-decoration: none; background-color: red; color: white; padding: 10px 20px; border-radius: 5px;">Retour à l'accueil</a>
    </div>
</section>
{% endblock %}
