{% extends 'page_vente/base.html' %}
{% load static %}

{% block content %}
<main>
    <section id="filter-section">
        <div>
            <form class="filter-form grid-container" method="GET">
                {{ form.as_p }}
                <button class="align-items-center font-size-17" id ="filter_button" type="submit" ><span id="filter_button_text">Filtrer</span><img id="filter-icon" src="{% static 'page_vente/icons/filter-solid.svg' %}" alt="icon filter"></button>
            </form>   
        </div>
    </section>

    <!--Pagination Links-->
    <div class="pagination text-center font-size-17">
        {% if products.has_previous %}
            <a class="pagination-button first-button" href="?page=1">&laquo; First</a>
            <a class="pagination-button prev-button" href="?page={{ products.previous_page_number }}">Previous</a>
        {% endif %}
        <br id="br-pagination">
        {% if products.has_next %}
            <a class="pagination-button next-button" href="?page={{ products.next_page_number }}">Next</a>
            <a class="pagination-button last-button" href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}

        <span class="current-page">
            Page {{ products.number }} <span id="of">of</span> {{ products.paginator.num_pages }}
        </span>
    </div>

    <!--List of products-->
    <section>
    <div id="liste-produits" class="grid-container tous_les_produits">
        {% if products %}
        {% for produit in products %}
            <div class="produit" data-product-id="{{ produit.id }}">
                <h3>{{ produit.nom }}</h3>
                <p><span class="prices">Prix</span> : {{ produit.prix | floatformat:2 }} €</p>
                {% if produit.image1 or produit.image2 or produit.image3 or produit.image4 %}
                    {% if produit.image1 %}
                            <img src="{{ produit.image1.url }}" alt="{{ produit.nom }}">
                    {% elif produit.image2 %}
                            <img src="{{ produit.image2.url }}" alt="{{ produit.nom }}">
                    {% elif produit.image3 %}
                            <img src="{{ produit.image3.url }}" alt="{{ produit.nom }}">
                    {% elif produit.image4 %}
                        <img src="{{ produit.image4.url }}" alt="{{ produit.nom }}">
                    {% endif %}
                {% else %}
                    <p class="no-image">Aucune image disponible</p>
                {% endif %}
                <button class="align-items-center page-button add_to_cart_button" data-product-id="{{ produit.id }}">Ajouter au panier</button>
            </div>
        {% endfor %}
        {% else %}
            <p id="no_products">Aucun produit disponible</p>
        {% endif %}
    </div>
    </section>
    <section class="hidden">
        <ul id="liste-articles"></ul>    
    </section>

    <div id="modal">
        <h2 class="text-center" id="nom-article"></h2>
        <button id="close-button" type="button">&times;</button>
        <div class="grid-container">
            <div class="product-info">
                <h3>Description :</h3>
                <p id="description-article"></p>
                <h3>Prix :</h3>
                <p id="prix-article"></p>
            </div>
            <div class="image-container">
                <img id="current-image" src="" alt="Image du produit">
                <div class="image-buttons">
                    <button class="font-size-17" id="prev-button" type="button">Précédent</button>
                    <button class="font-size-17" id="next-button" type="button">Suivant</button>
                </div>
            </div>
        </div>
    </div>
        

         <!--Pagination Links-->
        <div class="pagination text-center font-size-17">
            {% if products.has_previous %}
                <a class="pagination-button first-button" href="?page=1">&laquo; First</a>
                <a class="pagination-button prev-button" href="?page={{ products.previous_page_number }}">Previous</a>
            {% endif %}
            <br id="br-pagination">
            {% if products.has_next %}
                <a class="pagination-button next-button" href="?page={{ products.next_page_number }}">Next</a>
                <a class="pagination-button last-button" href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
            <span class="current-page">
                Page {{ products.number }} <span id="of2">of</span> {{ products.paginator.num_pages }}
            </span>
        </div>


</main>
{% endblock %}