{% extends 'page_vente/product_base.html' %}
{% load static %}
{% load i18n %}
{% block meta-description %}{% trans "Découvrez notre sélection exclusive de créations uniques : bijoux originaux, accessoires, maroquinerie, macramés, objets hybrides et bien plus encore. Trouvez des produits inédits pour sublimer votre style. Livraison rapide et qualité garantie." %} Page {% if page_number %}{{ page_number }}{% else %}1{% endif %}
{% endblock %}
{% block title %}{% trans "Accessoires, maroquinerie & macramé faits main | Créations originales" %} | Page {% if page_number %}{{ page_number }}{% else %}1{% endif %}{% endblock %}
{% block head %}
    {{ block.super }}
    <!-- Balises hreflang pour la page actuelle -->
    {% get_current_language as current_language %}
    <link rel="alternate" href="https://leatherworkintravelingdb.com{{ request.path }}" hreflang="{{ current_language }}" />
    {% if current_language == "fr" %}
        <link rel="alternate" href="https://leatherworkintravelingdb.com/en/products/" hreflang="en" />
    {% elif current_language == "en" %}
        <link rel="alternate" href="https://leatherworkintravelingdb.com/fr/produits/" hreflang="fr" />
    {% endif %}
{% endblock %}
{% block header %}
    <h1 id="title_all_products">{% trans "Explorez Nos Créations - Trouvez votre style unique" %}</h1>
{% endblock %}

{% block description %}
<p class ="text-center" id="description_all_products">{% trans "Retrouvez ci-dessous tous les produits disponibles." %}</p>
{% endblock %}