{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title_page_all_products">Tous les produits</title>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'page_vente/style.css'%}">
</head>
<body>
    <div class="header text-center">
        <div class="title_and_logo grid-container">
            <img class="logo" src="{% static 'page_vente/images/logo.png' %}" alt="Logo" >
            <h1 id="title_index">Bienvenue sur Ma <br>Boutique Artisanale</h1>
            <img class="logo display-laptop" src="{% static 'page_vente/images/logo.png' %}" alt="Logo" >
        </div>
        
    <!-- Include Navbar component -->
    {% include 'page_vente/navbar.html' %}
    </div>
    
    <main>
        <section class="tous_les_produits">
            <h2>TOUS LES PRODUITS</h2>
            <p>Choisissez vos produits</p>
                <form class="filter-form grid-container" method="GET">
                    {{ form.as_p }}
                </form>
                <button class="page-button" id ="filter-button" type="submit" >Filtrer</button>
        </section>

        <section>
            <div class="grid-container tous_les_produits">
                {% for product in products %}
                <div class="product" data-product-id="{{ product.id }}">
                    <p>{{ product.nom }} - {{ product.type }} - {{ product.prix }}€</p>
                    <img src="{{ product.lien_image1 }}" alt="{{ product.nom }}">
                    {% if product.disponible %}
                    <button type="button" id="add_article" onclick="ajouterAuPanier('{{ product.id }}')">Ajouter au panier</button>
                {% else %}
                    <button type="button" disabled>Indisponible</button>
                {% endif %}
                </div>
            {% empty %}
                <div>Aucun produit trouvé.</div>
            {% endfor %}
                </div>

            <!-- Pagination Links -->
            <div class="pagination">
                {% if products.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ products.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current-page">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}
                </span>

                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">Next</a>
                    <a href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </div>
        </section>
    </main>
    <script src="{% static 'page_vente/script.js'%}"></script>
</body>
</html>