{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title_page_all_products">Tous les produits</title>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'page_vente/style.css'%}">
</head>
<body>
    <div class="header text-center">
        <div class="title_and_logo grid-container">
            <img class="logo" src="{% static 'page_vente/images/logo.png' %}" alt="Logo" >
            <h1 id="title_page_all_products">TOUS LES PRODUITS</h1>
            <img class="logo display-laptop" src="{% static 'page_vente/images/logo.png' %}" alt="Logo" >
        </div>
        <p class ="text-center" id="description_page_all_products">Retrouvez ci-dessous tous les produits disponibles.<br>Si vous avez des questions, n'hésitez pas à me contacter en cliquant <a id = "contact-link" href="{% url 'boutique:contact' %}">ici</a>.</p>
        
    <!-- Include Navbar component -->
    {% include 'page_vente/navbar.html' %}
    </div>
    
    <main>
        <section class="display-laptop">
            <div>
                <form class="filter-form grid-container" method="GET">
                    {{ form.as_p }}
                    <button class="page-button" id ="filter-button" type="submit" >Filtrer</button>
                </form>
            
                
            </div>
        </section>

        <!--Pagination Links-->
        <div class="pagination text-center">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ products.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ products.number }} of {{ products.paginator.num_pages }}
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">Next</a>
                <a href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </div>

        <!--List of products-->
        <section>
        <div id="liste-produits" class="grid-container tous_les_produits">
            {% for produit in products %}
                <div class="produit" data-product-id="{{ produit.id }}">
                    <h3>{{ produit.nom }}</h3>
                    <p>Prix : {{ produit.prix }} €</p>
                    {% if produit.lien_image1 %}
                    <img src="{{ produit.lien_image1 }}" alt="{{ produit.nom }}">
                    {% else %}
                    <p>Aucune image disponible</p>
                    {% endif %}
                    <button class="page-button" onclick="ajouterAuPanier('{{ produit.id }}')">Ajouter au panier</button>
                </div>
            {% endfor %}
        </div>
        </section>
        <section style="display: none;">
            <ul id="liste-articles"></ul>    
        </section>

        <div id="modal">
            <h3 class="text-center" id="nom-article"></h3>
            <button class="page-button" id="close-button" onclick="fermerModal()">&times;</button>
            <img id="current-image" src="" alt="Image du produit">
            <div>
                <button class="page-button" id="prev-button" onclick="changeImage(-1)">Précédent</button>
                <button class="page-button" id="next-button" onclick="changeImage(1)">Suivant</button>
            </div>
            
        </div>

             <!--Pagination Links-->
            <div class="pagination text-center">
                {% if products.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ products.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current-page">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}
                </span>

                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">Next</a>
                    <a href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </div>

    
    </main>
    <script src="{% static 'page_vente/script.js'%}"></script>
</body>
</html>