:root{
    --color1: #FFD700;
    --color2: #8c6b4f;

}

body {
    font-family: 'Uncial Antiqua', serif;
    background-color: #f8f5e1;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/*Common*/
    section{
        margin: 30px 25px;
        border: 1px solid #ccc;
        padding: 10px;
    }
    .page-button{
        background-color: #00000080 ;
        border: 3px solid var(--color1);
        border-radius: 10px;
        color: var(--color1);
        padding: 5px 25px;
        text-decoration: none;
        font-size: 16px;
        margin: 0px 0px;
        cursor: pointer;
        display: flex; 
    }
    .page-button:active {
        transform: scale(0.95);
    }
    .page-button:hover{
        color: white;
    }
    .display-laptop{
        display: block;
    }
    .display-mobile{
        display: none;
    }
    .grid-container{
        display: grid;
    }
    .align-items-center{
        align-items: center;
    }
    .smooth-transition{
        transition: all 0.3s ease;
    }
    .text-center{
        text-align: center;
    }
    .float-right{
        float: right;
    }

/*header*/

    .header {
        background: #5c3b14;
        color: var(--color1);
        text-shadow: rgb(0, 0, 0) 0.15em 0.15em 0.15em;
        padding: 20px;
        width: auto;
    }
    .header a:hover, .header button:hover{
        color: white;
    }

    /*Menu*/

        .menu{
            position: fixed;
            top: 12px; 
            left: 32px; 
            z-index: 10;
        }
        .menu button{
            width: 100%;
            height: 60px;
            position: fixed;
            left: 0;
            top: 0;
            padding: 15px 32px;
            background-color: #00000000;
            border: none;
            margin: 0;
            font-size: 20px;
            text-align: left;
            color: var(--color1);
            display: inline-block;
            font-family: 'Uncial Antiqua', serif;
            text-shadow: rgb(0, 0, 0) 0.15em 0.15em 0.15em;
        }
        .menu button.scrolled {
            background-color: #00000070;
        }
        .menu button.active {
            background-color: #00000090;
        }
        
        .menu i{
            margin-left: 10px;
        }
        .menu-content{
            display: none;
            position: fixed;
            min-width: 160px;
            width: 100%;
            left: 0;
            top: 60px;
            padding-top: 0;
            background-color: #00000080 ;
            font-size: 18px;
        }
        
        .menu-content a {
            color: var(--color1);
            text-decoration: none;
            display: block;
            text-align: left;
            padding: 15px 32px;
            width: 100%;
        
        }
        .menu-content.active {
            display: block;
        }
        .menu-content-produit{
            display: none;
        }
        .menu-content-produit.active{
            display: inline-block;
            width: 100%;
            padding-left: 32px;
        }

    /*Language selector*/

        .language-selector {
            position: fixed;
            top: 12px; 
            right: 1%; 
            display: flex;
            gap: 10px;
            justify-content: center;
            margin: 0px;
            z-index: 11;
        }
        .flag {
            width: 60px;
            height: 35px;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border 0.3s ease;
        }
    
    
        .flag.active {
            border-color: var(--color1);
            border-radius: 5px;
            }

    /*Title and logo*/

        .title_and_logo{
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 55px;
        }

        .logo{
            justify-self: center;
            border: none;
            height: 200px;
            width: 200px;
        }
    
    /*Cart button*/
        #cart-button{
            position: fixed;
            top: 10px;
            right: 35%;
            z-index: 11;
        }
        #cart-button:hover{
            border-color: white;
        }

        #cart-button i{
            margin-right: 7px;
        }
        .flex_item_cart_button{
            margin: 0px 0px;
        }

/*Product*/
    .category{
        align-items: stretch;
        grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .product-card {
        border: 2px solid var(--color2);
        border-radius: 10px;
        padding: 15px;
        background: #fff;
    }
    a.linker{
        text-decoration: none;
        display: inline-block;
        height: fit-content;
        color: var(--color2);

    }
    .half-grid-width{
        grid-column: span 1;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .full-grid-width{
        grid-column: span 2;
        justify-items: center;
    }
    .grid-width_2{
        grid-template-columns:0.313fr 1fr 0.313fr;
        width: 100%;
    }
    .product-title-and-description{
        flex-direction: column;
        padding: 0 25px;
    }
    .product-title {
        font-size: 1.5em;
        color: #8c6b4f;
    }
    .category img{
        width: 275px;
        border: solid 2px #8c6b4f;
        border-radius: 5px;
    }
    .product-description {
        font-size: 0.9em;
    }

/*Panier*/

    #panier h2 {
        font-size: 24px;
    }
    #liste-articles {
        list-style-type: none;
        padding: 0;
    }
    #liste-articles img{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70px;
        height: 70px;
    }
    .produit, #liste-articles li{ 
        justify-items: center;
        border: 2px solid var(--color2);
        border-radius: 10px;
        padding: 15px;
        background: #fff;
        color: var(--color2);
    }
    .produit button, #liste-articles button{
        margin-top: 15px;
    }
    #total{
        margin-top: 60px;
        padding: 0px;
    }
    #checkout{
        width: 13em;
        background-color: #4CAF50;
        font-size: 18px;
        color: white; 
        transition: box-shadow 0.3s ease;
        border: none;
        justify-items: center;
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
    #checkout:hover {
        box-shadow: 0 0 12px rgba(76, 175, 80, 0.7);
        background: #45a049; 
        }
    #clear_cart {
        margin-top: 0px;
        background-color: #f44336;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
    #clear_cart:hover {
        background-color: #d32f2f;
    }

/*Tous les produits*/

    #description_page_all_products{
        color: #f8f5e1;
    }
    #contact_link{
        justify-self: center;
        justify-content: center;
        color: var(--color1);
        text-decoration: none;
        width: 60px;
        height: 25px;
        padding: 0px;
    }
    #contact_link:hover{
        color: white;
    }
    section input, section select, label{
        display: block;
        width: 70%;
        justify-self: center;
    }
    section input, section select{
        margin-top: 5px;
        border-radius: 5px;
        border: 2px solid var(--color2);
    }
    .filter-form{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: stretch;
        gap: 20px;
        align-content: center;
        justify-content: center;
    }
    .filter-form p{
        margin: 0px 0px;
    }
    #filter_button {
        margin-top: 10px;
        justify-content: center; 
        background: #8c6b4f; 
        border: 2px solid #FFD700; 
        color: #f8f5e1;
        padding: 8px 20px;
        border-radius: 5px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        transition: 0.3s ease;
        grid-column: span 4;
        width: 7em;
        justify-self: center;
    }
    #filter_button:hover {
        background: #FFD700; 
        color: #8c6b4f; 
    }
    .pagination-button{
        display: inline-block;
        width: 8em;
        text-decoration: none;
        background: transparent; 
        border: 2px solid #8c6b4f; 
        color: #8c6b4f; 
        padding: 5px 15px;
        border-radius: 50px;
        cursor: pointer;
        margin: 0 5px;
        transition: 0.3s ease;
    }
    .pagination-button:hover {
        background-color: #8c6b4f; 
        color: #f8f5e1;
    }
    #br-pagination{
        display: none;
    }
    .current-page{
        display: block;
        margin-top: 10px;
    }
    .tous_les_produits, #liste-articles{
        align-items: stretch;
        grid-template-columns: repeat(4, 1fr);
        margin: 30px 25px;
        gap: 40px;
    }
    .tous_les_produits img, #liste-articles img{
        width: 11em;
        height: 11em;
        border: 2px solid var(--color2);
        border-radius: 10px;
        display: block;
        object-fit: cover;
    }
    .tous_les_produits img:hover, #liste-articles img:hover{
        transform: scale(1.07);
        transition: all 0.3s ease;
        cursor: pointer;

    }
    #modal{
        background-color: #fff;
        border: 2px solid var(--color2);
        border-radius: 10px;
        display: none;
        z-index: 12;
        position: fixed;
        top: 55%;
        right: 50%;
        transform: translate(370px, -50%);
        padding: 20px;
        width: 700px;
        height: 550px;
        justify-items: center;
    }
    #modal h3{
        display: inline-block;
        margin: 0px;
        position: absolute;
        top: 30px;
        left:50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    #close-button{
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
        padding: 0px;
    }
    #modal img{
        width: 30em;
        height: 30em;
        border: 2px solid var(--color2);
        border-radius: 10px;
        margin-top: 45px;
        object-fit: cover;
    }
    #prev-button, #next-button{
        margin-top: 5px;
        display: inline-block;
    }
    
@media only screen and (max-width: 1182px)
{   
    /*Common*/

        .display-laptop{
            display: None;
            }
        .display-mobile{
            display: block;
        }

    /*header*/

        header {
        padding: 10px;
        }
        .title_and_logo{
            grid-template-columns: .4fr 1fr;
            gap: 10px;
        }

    /*Product*/

        .category{
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-columns: repeat(1, 1fr);
        grid-gap : 10px;
        margin: 20px 15px;
        }
        .product-card {
            padding: 12px;
        }
        .full-grid-width{
            grid-column: span 1;
        }
        .grid-width_2{
            justify-items: center;
            align-items: center;
            grid-template-columns: 1fr 1fr;
        }
        .product-title-and-description{
        padding: 0 15px;
        }
        .category img{
            width: 70%;
        }
        .image-full-span{
        width: 70%;
        }

    /*Tous les produits*/
        #description_page_all_products{
            font-size: 14px;
        }
        .tous_les_produits, #liste-articles{
            grid-template-columns: repeat(3, 1fr);
            margin: 15px 10px;
            gap: 14px;
        }
        
        .produit, #liste-articles li{
            padding: 10px;
        }
        .produit button, #liste-articles button{
            margin-top: 10px;
        }
        #modal{
            transform: translate(270px, -50%);
            height: 450px;
            width: 500px;
        }
        #modal img{
            height: 23em;
        }
}


@media only screen and (max-width: 768px)
{   section{
        margin: 15px 0px;
        padding: 5px;
    }

    /*Header*/

        .menu button{
            width: 100%;
            height: 50px;
            padding: 7px 20px;
            font-size: 16px;
        }
        .menu-content{
            min-width: 100px;
            top: 50px;
            font-size: 14px;
        }
        #cart-button{
            border-radius: 10px;
            padding: 5px 15px;
            font-size: 12px;      
        }
        .flag {
            width: 40px;
            height: 25px;
        }
        h1{
        font-size: 22px;
        }
        .logo{
            height: 150px;
            width: 150px;
        }
    /*Product*/
        .category{
            grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
            grid-gap : 5px;
            margin: 10px 5px;
            }
        .product-title{
            margin:5px 0;
        }
        h2.product-title{
        font-size: 15px;
        }
        .product-description{
            margin: 5px 0;
            font-size: 8px;
        }
        .category img{
        width: 220px;
        }
        .image-full-span{
        width: 220px;
        }

    /*Tous les produits*/

        .filter-form{
            grid-template-columns: 1fr 1fr;
            gap:10px;
        }
        #filter_button{
            margin-top: 5px;
            grid-column: span 2;
        }
        .pagination-button{
            font-size: 14px;
            padding: 5px 15px;
            margin: 5px 5px;
        }
        #br-pagination{
            display: block;
        }
        .tous_les_produits, #liste-articles{
            grid-template-columns: repeat(2, 1fr);
            margin: 0px 0px;
            gap: 5px;
        }
    
        .produit, #liste-articles li{
            padding: 5px;
        }
        .produit button, #liste-articles button{
            margin-top: 5px;
        }
        #modal{
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            margin: auto;
            width: 100%;
            height: 100%;
        }
        #modal h3{
            top: 45px;
        }
        #close-button{
            top: 35px;
            right: 35px;
        }
        #modal img{
            width: 28em;
            height: 28em;
            margin-top: 65px;
        }


}

@media only screen and (max-width: 500px)
{

    /*Header*/
        h1{
            font-size: 20px;
        }
        .logo{
            height: 130px;
            width: 130px;
        }
        #description_all_products{
            font-size: 13px;
        }
        #contact_link{
            font-size: 10px;
            width: 40px;
            height: 20px;
        }
    /*Product*/
        .category{
        grid-template-rows: repeat(auto-fit, minmax(110px, 1fr));
        }
        h2.product-title{
            font-size: 12px;
            }
        .product-description{
        font-size: 6px;
        }
        .category img{
            width: 120px;
            }
        .image-full-span{
        width: 120px;
        }
    /*Panier*/
        #checkout{
            width: 9em;
            font-size: 14px;
        }
        #clear_cart {
            font-size: 13px;
        }
    /*Tous les produits*/
        .filter-form{
            grid-template-columns: 1fr 1fr;
        }        
        .tous_les_produits img, #liste-articles img{
            width: 7em;
            height: 7em;

        }
        #modal h3{
            top: 55px;
        }
        #close-button{
            top: 45px;
            right: 45px;
        }
        #modal img{
            width: 19em;
            height: 19em;
            margin-top: 155px;
        }
        #prev-button, #next-button{
            margin-top: 30px;
        }


}